<% if @today_meal_time.nil? %>
  <h2><%= t '.no_mom_selected' %></h2>
  <%= render 'form' %>
<% else %>
  <div>
    <h2><%= t '.today_menu', :date => l(@today_meal_time.created_at, format: :short) %></h2>
  </div>
  <ul>
    <% @today_meal_time.vendors.each do |vendor| %>
      <li><%= vendor.name %></li>
    <% end %>
  </ul>
<% end %>


