<% @menu_items_group_category.each do |category, menu_items| %>
  <h3><%= category.name %></h3>

  <table class="table table-striped table-bordered">
    <tr>
      <th>名称</th>
      <th>价格</th>
    </tr>

    <% menu_items.each do |menu_item| %>
    <tr>
      <td><%= menu_item.name %></td>
      <td><%= menu_item.price %></td>
    </tr>
    <% end %>

  </table>

<% end %>
