<ul class="nav nav-tabs nav-stacked">
	<li class="<%= action_name == 'edit' ? 'active' : '' %>"><%= link_to "个人信息", edit_user_path %></li>
	<li class="<%= action_name == 'edit_password' ? 'active' : '' %>"><%= link_to "修改密码", edit_password_user_path %></li>
</ul>