<tr id="tr_<%= dom_id(vendor) %>">
  <td width="50%"><%= best_in_place vendor, :name %></td>
  <td>
    <%= link_to '菜单', vendor_menu_items_path(vendor), remote: true %>
    <%= link_to '删除', vendor, confirm: "你确定要删除 #{vendor.name} 吗？", method: :delete, remote: true %>
  </td>
</tr>
