<h2>商家列表</h2>

<table class="table table-striped table-bordered" style="width: 500px;">
  <tr>
    <th>商家名称</th>
    <th>操作</th>
  </tr>

<% @vendors.each do |vendor| %>
  <tr>
    <td width="50%"><%= best_in_place vendor, :name %></td>
    <td>
      <%= link_to '菜单', vendor_menu_items_path(vendor) %>
      <%= link_to '删除', vendor, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to new_vendor_path, class: 'btn' do %>
  <i class="icon-plus-sign"></i>
  添加
<% end %>
