<div class="row">

  <div class="span2">
    <ul class="nav nav-pills nav-stacked" id="vendors_nav">
      <% @vendors.each do |vendor| %>
      <li><%= link_to vendor.name, vendor_menu_items_path(vendor), remote: true %></li>
      <% end %>
    </ul>
    <span>&nbsp;</span>
  </div>

  <div class="span6">
    <div id="menu_items">
      Click on left links to see more.
    </div>
  </div>
</div>

<%= content_for :footer do %>
<script type="text/javascript">

  $body = $('body');
  $body.on('click', '#vendors_nav li', function() {
    $("#vendors_nav li.active").removeClass('active');
    $(this).addClass('active');
  });
  $(window).scroll(function() {
    if ($(window).scrollTop() > 0) {
      $("#vendors_nav").attr("style", "position: fixed;width:" + $('.span2').width() + "px");
    } else {
      $("#vendors_nav").attr("style", "");
    }
  });

  $("#vendors_nav li").first().find('a').click();

</script>
<% end %>
