/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require bills
*/

.brand {
  height: 22px;
}

.form-inputs label {
  display: inline;
}
.form-inputs span {
  display: block;
}

#unread-message-count {
  font-weight: bold;
  font-size: 14px;
  color: white;
}

#unread-message-count span {
  background-color: #BE4240;
  padding: 3px 6px 4px;
  border-radius: 5px;
}

#unread-message-count span:hover {
  background-color: #DB403D;
}

#unread-message-content {
  position: fixed;
  top: 70;
  right: 15px;
  border-radius: 9px;
  border: 1px solid #E1E1E9;
  width: 230px;
  min-height: 300px;
  background-color: white;
  padding: 15px;
  display: none;
  z-index: 10;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#switch_account_bar {
  min-width: 100px;
  position: absolute;
  top: 200px;
  left: 10px;
  cursor: move;
}
