<%# need a instance variable: @messages %>

<div id="unread-message-content">
  <h3>通知中心</h3>
  <div>
    <ul>
      <% @messages.each do |msg| %>
        <li id="<%= dom_id(msg) %>">
          <%= render partial: "/messages/#{msg.entity.class.to_s.underscore}", locals: {msg: msg} %>
          <%= link_to "标为已读", ignore_message_path(msg), method: :put, remote: true %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
