<%- if notice %>
  <div class="alert">
    <a class="close" data-dismiss="alert">×</a>
    <strong>Notice!</strong> <%= notice %>
  </div>

<%- end %>

<%- if alert %>
  <div class="alert">
    <a class="close" data-dismiss="alert">×</a>
    <%= alert %>
  </div>
<%- end %>
