<% if @today_meal_time.nil? %>
  <%= t '.no_mom_selected' %>
  <%= link_to t('.choose_mom'), new_meal_time_path %>
<% else %>
  <div>
    <%= t '.today_menu', :date => l(@today_meal_time.created_at, format: :short) %>
  </div>
  <% @today_meal_time.vendors.each do |vendor| %>
    <div>
      <%= vendor.name %>
    </div>
  <% end %>
<% end %>


