<% if @today_meal_time.nil? %>
  <%= link_to "选择今日菜单", new_meal_time_path %>
<% else %>
  <div>
   <%= @today_meal_time.created_at.to_date %> 的菜单
  </div>
  <% @today_meal_time.vendors.each do |vendor| %>
    <div>
      <%= vendor.name %>
    </div>
  <% end %>
<% end %>


